---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ruby/webrick/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"58cc42e9d1218e1ab9c0046b346b0a35dfead1cd3139056e7e4904afca598843"'
      Last-Modified:
      - Tue, 04 Jan 2022 18:34:39 GMT
      Content-Type:
      - application/json; charset=utf-8
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1642363951'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v1.7.0","zipball_url":"https://api.github.com/repos/ruby/webrick/zipball/refs/tags/v1.7.0","tarball_url":"https://api.github.com/repos/ruby/webrick/tarball/refs/tags/v1.7.0","commit":{"sha":"650289c70d1bccb3e0cefcf6ede99dc043c5a9dd","url":"https://api.github.com/repos/ruby/webrick/commits/650289c70d1bccb3e0cefcf6ede99dc043c5a9dd"},"node_id":"MDM6UmVmODY2NDQ2MDg6cmVmcy90YWdzL3YxLjcuMA=="},{"name":"v1.6.1","zipball_url":"https://api.github.com/repos/ruby/webrick/zipball/refs/tags/v1.6.1","tarball_url":"https://api.github.com/repos/ruby/webrick/tarball/refs/tags/v1.6.1","commit":{"sha":"800c29e9844b1cc901a4d92662c675bf7d34244b","url":"https://api.github.com/repos/ruby/webrick/commits/800c29e9844b1cc901a4d92662c675bf7d34244b"},"node_id":"MDM6UmVmODY2NDQ2MDg6cmVmcy90YWdzL3YxLjYuMQ=="},{"name":"v1.6.0","zipball_url":"https://api.github.c[...]
