---
http_interactions:
- request:
    method: get
    uri: https://rubygems.org/api/v1/versions/puppet.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 13 Dec 2021 17:14:08 GMT
      X-Backend:
      - F_Rails 52.88.209.40:443
      Etag:
      - '"fd991c58940e79315e400a4d1780b80f"'
    body:
      encoding: ASCII-8BIT
      string: '[{"authors":"Puppet Labs","built_at":"2021-12-09T00:00:00.000Z","created_at":"2021-12-13T17:14:07.921Z","description":"Puppet,
        an automated configuration management tool","downloads_count":46396,"metadata":{},"number":"7.13.1","summary":"Puppet,
        an automated configuration management tool","platform":"ruby","rubygems_version":"\u003e
        1.3.1","ruby_version":"\u003e= 2.5.0","prerelease":false,"licenses":["Apache-2.0"],"requirements":[],"sha":"463699dd37d5fe3c7cdbd9ab6ceb5e031f6908f6567575689f2a76744ba2ef28"},{"authors":"Puppet
        Labs","built_at":"2021-12-09T00:00:00.000Z","created_at":"2021-12-13T17:14:05.449Z","description":"Puppet,
        an automated configuration management tool","downloads_count":225,"metadata":{},"number":"7.13.1","summary":"Puppet,
        an automated configuration management tool","platform":"x86-mingw32","rubygems_version":"\u003e
        1.3.1","ruby_version":"\u003e= 2.5.0","prerelease":false,"lic[...]
