---
http_interactions:
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":null}]}

        '
  recorded_at: Sun, 16 Jan 2022 16:55:11 GMT
- request:
    method: get
    uri: https://auth.docker.io/token?service=registry.docker.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
         "token": "XXXX",
         "access_token": "XXXX",
         "expires_in": 300,
         "issued_at": "2022-01-16T16:55:12.003977308Z"
        }
  recorded_at: Sun, 16 Jan 2022 16:55:12 GMT
- request:
    method: get
    uri: https://auth.docker.io/token?account&service=registry.docker.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
         "token": "XXXX",
         "access_token": "XXXX",
         "expires_in": 300,
         "issued_at": "2022-01-16T16:55:12.003977308Z"
        }
  recorded_at: Sun, 16 Jan 2022 16:55:12 GMT
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sun, 16 Jan 2022 16:55:12 GMT
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/apache/superset/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io",scope="repository:apache/superset:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"apache/superset","Action":"pull"}]}]}

        '
  recorded_at: Sun, 16 Jan 2022 16:55:12 GMT
- request:
    method: get
    uri: https://auth.docker.io/token?scope=repository:apache/superset:pull&service=registry.docker.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
         "token": "XXXX",
         "access_token": "XXXX",
         "expires_in": 300,
         "issued_at": "2022-01-16T16:55:12.97853871Z"
        }
  recorded_at: Sun, 16 Jan 2022 16:55:13 GMT
- request:
    method: get
    uri: https://auth.docker.io/token?account&scope=repository:apache/superset:pull&service=registry.docker.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
         "token": "XXXX",
         "access_token": "XXXX",
         "expires_in": 300,
         "issued_at": "2022-01-16T16:55:12.97853871Z"
        }
  recorded_at: Sun, 16 Jan 2022 16:55:13 GMT
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/apache/superset/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: '{"name":"apache/superset","tags":["004a6d9e54fe55cd497c1b5c74a097c467e4caba","004a6d9e54fe55cd497c1b5c74a097c467e4caba-dev","00a6a64005eae2ee2459c9ac75fcae231585b9f2","00a6a64005eae2ee2459c9ac75fcae231585b9f2-dev","00ca21e0161e55e9f4275cd1f59ac85df02851d3","00ca21e0161e55e9f4275cd1f59ac85df02851d3-dev","00e396a1bea8d27545e36f70226d864429c58256","00e396a1bea8d27545e36f70226d864429c58256-dev","0143a983b2b8e672f491c4a2c1f359e1c2b33c1f","0143a983b2b8e672f491c4a2c1f359e1c2b33c1f-dev","017f11f9d84ac88019a6c42eb65a67b617966e95","017f1[...]
