---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/goharbor/harbor/tags?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5290daf4f5514bbbdcd9a0e218787dc50da750794daa7c9e275be97d1b4efffe"
      Last-Modified:
      - Sun, 16 Jan 2022 08:44:33 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/50613991/tags?per_page=100&page=2>; rel="next",
        <https://api.github.com/repositories/50613991/tags?per_page=100&page=2>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1642363951'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"v2.4.1","zipball_url":"https://api.github.com/repos/goharbor/harbor/zipball/refs/tags/v2.4.1","tarball_url":"https://api.github.com/repos/goharbor/harbor/tarball/refs/tags/v2.4.1","commit":{"sha":"c4b06d795927407463a232bcbefb9b117ed028d2","url":"https://api.github.com/repos/goharbor/harbor/commits/c4b06d795927407463a232bcbefb9b117ed028d2"},"node_id":"MDM6UmVmNTA2MTM5OTE6cmVmcy90YWdzL3YyLjQuMQ=="},{"name":"v2.4.1-rc2","zipball_url":"https://api.github.com/repos/goharbor/harbor/zipball/refs/tags/v2.4.1-rc2","tarball_url":"https://api.github.com/repos/goharbor/harbor/tarball/refs/tags/v2.4.1-rc2","commit":{"sha":"c4b06d795927407463a232bcbefb9b117ed028d2","url":"https://api.github.com/repos/goharbor/harbor/commits/c4b06d795927407463a232bcbefb9b117ed028d2"},"node_id":"MDM6UmVmNTA2MTM5OTE6cmVmcy90YWdzL3YyLjQuMS1yYzI="},{"name":"v2.4.1-rc1","zipba[...]
- request:
    method: get
    uri: https://api.github.com/repositories/50613991/tags?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a7ab6103fecb0728e04b196d972ce84a2f52278b262b647994f0e7b42fbe814"
      Last-Modified:
      - Sun, 16 Jan 2022 08:44:33 GMT
     [...]
