---
http_interactions:
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/rook/ceph/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
      Www-Authenticate:
      - Bearer realm="https://auth.docker.io/token",service="registry.docker.io",scope="repository:rook/ceph:pull"
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"repository","Class":"","Name":"rook/ceph","Action":"pull"}]}]}

        '
  recorded_at: Tue, 19 Jul 2022 23:20:39 GMT
- request:
    method: get
    uri: https://auth.docker.io/token?scope=repository:rook/ceph:pull&service=registry.docker.io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Trace-Id:
      - 76f70260575cec2a8f432ac20a089f8b
    body:
      encoding: UTF-8
      string: '{"token":"XXXX","access_token":"XXXX","expires_in":300,"issued_at":"2022-07-19T23:20:39.413472302Z"}

        '
  recorded_at: Tue, 19 Jul 2022 23:20:39 GMT
- request:
    method: get
    uri: https://registry.hub.docker.com/v2/rook/ceph/tags/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer XXXX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Docker-Distribution-Api-Version:
      - registry/2.0
    body:
      encoding: UTF-8
      string: '{"name":"rook/ceph","tags":["04a226c","169b225","18f5f77","4b06cf6","4f63e88","87154df","88e7266","e06c36d","master","stable","v0.8.0","v0.8.0-alpha","v0.8.0-beta","v0.8.1","v0.8.1-alpha","v0.8.1-beta","v0.8.2","v0.8.2-alpha","v0.8.2-beta","v0.8.3","v0.8.3-alpha","v0.8.3-beta","v0.9.0","v0.9.0-144.gdf73f14","v0.9.0-148.g6075723","v0.9.0-152.g8035f1c","v0.9.0-154.gf66278a","v0.9.0-161.g5646142","v0.9.0-164.g0207f95","v0.9.0-169.g0512890","v0.9.0-174.g3b14e51","v0.9.0-176.g7d3496f","v0.9.0-186.g5a41cc5","v0.9.0-190.g818bf38[...]
